In [1]:
%defaultDatasource jdbc:h2:mem:db

# Analisando o Uso de Medicamentos
* Esta tarefa analisará os dados conforme três abordagens: análise do comportamento estatístico; análise de correlação entre pares; análise de correlação de variáveis.
* A partir dos arquivos CSV que estão no diretórios /data/nhanes considere as seguintes tabelas SQL.

In [2]:
DROP Table IF EXISTS Person;
DROP Table IF EXISTS Drug;
DROP Table IF EXISTS DrugUse;

In [3]:
CREATE TABLE Person (
  Id VARCHAR(5) NOT NULL,
  Gender INTEGER,
  Age INTEGER,
  PRIMARY KEY(Id)
) AS SELECT
    id,
    gender,
    age
FROM CSVREAD('../../../data/nhanes/demographic-person.csv');

CREATE TABLE Drug (
  Code VARCHAR(6) NOT NULL,
  Name VARCHAR(100) NOT NULL,
  PRIMARY KEY(Code)
) AS SELECT
    code,
    name
FROM CSVREAD('../../../data/nhanes/medications-drug.csv');

CREATE TABLE DrugUse (
  PersonId VARCHAR(5) NOT NULL,
  DrugCode VARCHAR(6) NOT NULL,
  DaysUse INTEGER,
  FOREIGN KEY(PersonId)
    REFERENCES Person(Id)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION,
  FOREIGN KEY(DrugCode)
    REFERENCES Drug(Code)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION
) AS SELECT
    person_id,
    drug_code,
    days_use
FROM CSVREAD('../../../data/nhanes/medications-use.csv');

In [4]:
SELECT * FROM Person;
SELECT * FROM Drug;
SELECT * FROM DrugUse

# I. Análise de comportamento estatístico

## 1) Contabilizando o uso de medicamentos

* Liste o nome de todos os medicamentos e a quantidade de pessoas que usa cada um deles.

In [5]:
SELECT DR.Name, COUNT(*)
FROM Person P, Drug DR, DrugUse DU
WHERE DU.DrugCode = DR.Code AND
      P.Id = DU.PersonId
GROUP BY DR.Name
ORDER BY COUNT(*) DESC;

## 2) Medicamento mais usado com VIEW

* Informe o código do medicamento mais usado: fazendo uso de VIEW.

In [6]:
DROP Table IF EXISTS MedUsos;

In [7]:
CREATE VIEW MedUsos AS
SELECT DR.Code, COUNT(*) AS Quantidade
FROM Person P, Drug DR, DrugUse DU
WHERE DU.DrugCode = DR.Code AND
      P.Id = DU.PersonId
GROUP BY DR.Name
ORDER BY COUNT(*) DESC;

In [8]:
SELECT MU2.Code
FROM MedUsos MU2
WHERE MU2.Quantidade = 
(
SELECT MAX(MU.Quantidade)
FROM MedUsos MU
)

d00732

## 3) Medicamento mais usado sem VIEW

* Informe o código do medicamento mais usado: sem fazer uso de VIEW.

In [59]:
SELECT DR.Code
FROM Person P, Drug DR, DrugUse DU
WHERE DU.DrugCode = DR.Code AND
      P.Id = DU.PersonId
GROUP BY DR.Name
ORDER BY COUNT(*) DESC
LIMIT 1;

d00732

## 4) Nome do medicamento mais usado
* Informe o nome do medicamento mais usado (uso de VIEW é opcional).

In [9]:
DROP Table IF EXISTS MedUsos;

In [10]:
CREATE VIEW MedUsos AS
SELECT DR.Name, COUNT(*) AS Quantidade
FROM Person P, Drug DR, DrugUse DU
WHERE DU.DrugCode = DR.Code AND
      P.Id = DU.PersonId
GROUP BY DR.Name
ORDER BY COUNT(*) DESC;

In [11]:
SELECT MU2.Name
FROM MedUsos MU2
WHERE MU2.Quantidade = 
(
SELECT MAX(MU.Quantidade)
FROM MedUsos MU
)

LISINOPRIL

## 5) Contabilizando quanto as pessoas usam de medicamento

* Informe o número médio de uso de medicamento por pessoa.

In [12]:
DROP Table IF EXISTS MedUsos;

In [13]:
CREATE VIEW MedUsos AS
SELECT DU.PersonId, COUNT(*) AS Quantidade
FROM Person P, Drug DR, DrugUse DU
WHERE DU.DrugCode = DR.Code AND
      P.Id = DU.PersonId
GROUP BY DU.PersonId
ORDER BY COUNT(*) DESC;

In [14]:
SELECT AVG(Quantidade) FROM MedUsos

3

## 6) Pessoas que usam mais do que a média

* Liste o id das pessoas que usam mais medicamentos do que a média.

In [15]:
DROP Table IF EXISTS MedUsos;

In [16]:
CREATE VIEW MedUsos AS
SELECT DU.PersonId, COUNT(*) AS Quantidade
FROM Person P, Drug DR, DrugUse DU
WHERE DU.DrugCode = DR.Code AND
      P.Id = DU.PersonId
GROUP BY DU.PersonId
ORDER BY COUNT(*) DESC;

In [17]:
SELECT MU2.PersonId
FROM MedUsos MU2
WHERE MU2.Quantidade > 
(
SELECT AVG(MU.Quantidade)
FROM MedUsos MU
)

## 7) Análise do uso de medicamento

* Considere que um médico quer fazer responder a seguinte questão: pessoas tendem a usar mais medicamentos conforme ficam mais velhas?
* Escreva uma query que ajude o médico a realizar esta análise.

In [18]:
DROP Table IF EXISTS MedUsos;

In [19]:
CREATE VIEW MedUsos AS
SELECT DU.PersonId, COUNT(*) AS Quantidade, P.Age
FROM Person P, Drug DR, DrugUse DU
WHERE DU.DrugCode = DR.Code AND
      P.Id = DU.PersonId
GROUP BY DU.PersonId
ORDER BY COUNT(*) DESC;

In [20]:
SELECT *
FROM MedUsos MU2

In [22]:
SELECT

    case
       when MU.Age <18 then '<18'
       when MU.Age between 18 and 24 then 'de 18-24'
       when MU.Age between 25 and 34 then 'de 25-34'
       when MU.Age between 35 and 44 then 'de 35-44'
       when MU.Age between 45 and 55 then 'de 45-55'
       else 'idoso'
    END as age_range,
    
    AVG(Quantidade) as media
    
FROM MEDUSOS MU
GROUP BY     case
       when MU.Age <18 then '<18'
       when MU.Age between 18 and 24 then 'de 18-24'
       when MU.Age between 25 and 34 then 'de 25-34'
       when MU.Age between 35 and 44 then 'de 35-44'
       when MU.Age between 45 and 55 then 'de 45-55'
       else 'idoso'
    END
    
ORDER BY age_range

--Count(*) as count
--from MEDUSOS
--group by age_range
--order by age_range

# Navegando por Hierarquias

A seguir exercícios envolvendo navegação por hierarquias.

# Marcadores e Taxonomia

Considere o modelo para `Marcadores` e `Taxonomia`:

![UML](marcadores-taxonomia-uml.png)

![Relacional](marcadores-taxonomia-er.png)

Considere as sentenças SQL a seguir para montar as tabelas de `Marcadores` e `Taxonomia`:

In [23]:
DROP TABLE IF EXISTS Taxonomia;
DROP TABLE IF EXISTS Marcadores;

CREATE TABLE Taxonomia (
  Categoria VARCHAR(50) NOT NULL,
  Superior  VARCHAR(50),
  PRIMARY KEY(Categoria),
  FOREIGN KEY(Superior)
    REFERENCES Taxonomia(Categoria)
      ON DELETE NO ACTION
      ON UPDATE CASCADE
);

CREATE TABLE Marcadores (
  Titulo VARCHAR(50) NOT NULL,
  Endereco VARCHAR(80) NOT NULL,
  Acessos INTEGER,
  Categoria VARCHAR(50) NOT NULL,
  PRIMARY KEY(Titulo),
  FOREIGN KEY(Categoria)
    REFERENCES Taxonomia(Categoria)
      ON DELETE NO ACTION
      ON UPDATE CASCADE
);

As tabelas são preenchidas com as seguintes tuplas:

In [24]:
INSERT INTO Taxonomia VALUES ('Geral', NULL);
INSERT INTO Taxonomia VALUES ('Serviços', 'Geral');
INSERT INTO Taxonomia VALUES ('Acadêmico', 'Geral');
INSERT INTO Taxonomia VALUES ('Relacionamento', 'Geral');
INSERT INTO Taxonomia VALUES ('Busca', 'Serviços');
INSERT INTO Taxonomia VALUES ('Portal', 'Serviços');
INSERT INTO Taxonomia VALUES ('Mail', 'Serviços');
INSERT INTO Taxonomia VALUES ('Vendas', 'Serviços');
INSERT INTO Taxonomia VALUES ('Universidade', 'Acadêmico');
INSERT INTO Taxonomia VALUES ('CG', 'Acadêmico');
INSERT INTO Taxonomia VALUES ('Sociedade', 'Acadêmico');
INSERT INTO Taxonomia VALUES ('Rede Social', 'Relacionamento');
INSERT INTO Taxonomia VALUES ('Marketplace', 'Vendas');
INSERT INTO Taxonomia VALUES ('Loja', 'Vendas');
INSERT INTO Taxonomia VALUES ('Notícias', 'Portal');
INSERT INTO Taxonomia VALUES ('Agregador', 'Portal');

INSERT INTO Marcadores VALUES ('Terra', 'http://www.terra.com.br', 295, 'Portal');
INSERT INTO Marcadores VALUES ('POVRay', 'http://www.povray.org', 2, 'CG');
INSERT INTO Marcadores VALUES ('SBC', 'http://www.sbc.org.br', 26, 'Sociedade');
INSERT INTO Marcadores VALUES ('Correios', 'http://www.correios.com.br', 45, 'Serviços');
INSERT INTO Marcadores VALUES ('GMail', 'http://www.gmail.com', 296, 'Mail');
INSERT INTO Marcadores VALUES ('Google', 'http://www.google.com', 1590, 'Busca');
INSERT INTO Marcadores VALUES ('Yahoo', 'http://www.yahoo.com', 134, 'Serviços');
INSERT INTO Marcadores VALUES ('Orkut', 'http://www.orkut.com', 45, 'Rede Social');
INSERT INTO Marcadores VALUES ('iBahia', 'http://www.ibahia.com', 3, 'Portal');
INSERT INTO Marcadores VALUES ('Submarino', 'http://www.submarino.com.br', 320, 'Loja');
INSERT INTO Marcadores VALUES ('Amazon', 'https://www.amazon.com.br', 410, 'Marketplace');
INSERT INTO Marcadores VALUES ('Americanas', 'https://www.americanas.com.br', 320, 'Loja');
INSERT INTO Marcadores VALUES ('Mercado Livre', 'https://www.mercadolivre.com.br', 500, 'Marketplace');
INSERT INTO Marcadores VALUES ('G1', 'https://g1.globo.com', 1200, 'Notícias');
INSERT INTO Marcadores VALUES ('Folha', 'https://www.folha.uol.com.br', 850, 'Notícias');
INSERT INTO Marcadores VALUES ('Google News', 'https://news.google.com', 900, 'Agregador');
INSERT INTO Marcadores VALUES ('Flipboard', 'https://flipboard.com', 950, 'Agregador');

Conteúdo da tabela `Taxonomia`:

In [25]:
SELECT * FROM Taxonomia;

Conteúdo da tabela `Marcadores`:

In [26]:
SELECT * FROM Marcadores;

## Tarefa 1

Escreva em SQL uma consulta que retorne os marcadores da categoria `Serviços`, sem considerar as categorias subordinadas.

In [50]:
SELECT M.Titulo
FROM Marcadores M, Taxonomia T
WHERE M.Categoria = T.Categoria
      AND M.Categoria = 'Serviços'

## Tarefa 2

Escreva em SQL uma consulta que retorne os marcadores da categoria `Serviços`, considerando as categorias subordinadas.

In [52]:
CREATE VIEW Relations AS
SELECT M.Titulo, M.Categoria, T.Superior
FROM Marcadores M, Taxonomia T
WHERE M.Categoria = T.Categoria

In [56]:
SELECT *
FROM Relations R
--WHERE R.Superior = 'Serviços' OR R.Categoria = 'Serviços'